@model MobileCan.Models.CompanyInfo
<ul>
    <li>@Html.LabelFor(m => m.Name): @Model.Name</li>
    <li>@Html.LabelFor(m => m.Address): @Model.Address</li>
    <li>
        @Html.LabelFor(m=>m.Phone): @Model.Phone
    </li>
    <li>@Html.LabelFor(m => m.WorkingHours): @Model.WorkingHours</li>

</ul>